In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(
    '../../data/brightkite/Brightkite_totalCheckins.txt',
    sep='\t',
    header=None,
    names=(
        'userId',
        'checkInTime',
        'latitude',
        'longtitude',
        'locationId'
    )
)

In [3]:
df.head(3)

,userId,checkInTime,latitude,longtitude,locationId
0,0,2010-10-17T01:48:53Z,39.747652,-104.992510,88c46bf20db295831bd2d1718ad7e6f5
1,0,2010-10-16T06:02:04Z,39.891383,-105.070814,7a0f88982aa015062b95e3b4843f9ca2
2,0,2010-10-16T03:48:54Z,39.891077,-105.068532,dd7cd3d264c2d063832db506fba8bf79

In [4]:
df['checkInTime'] = pd.to_datetime(df['checkInTime'])

In [6]:
df.dropna(inplace=True)

In [7]:
df['checkInTime'] = df['checkInTime'].apply(lambda x: x.timestamp())

In [8]:
df.drop(columns=['latitude', 'longtitude'], inplace=True)

In [9]:
df['relevant'] = 1

In [12]:
df

,userId,checkInTime,locationId,relevant
0,0,1.287280e+09,88c46bf20db295831bd2d1718ad7e6f5,1
1,0,1.287209e+09,7a0f88982aa015062b95e3b4843f9ca2,1
2,0,1.287201e+09,dd7cd3d264c2d063832db506fba8bf79,1
3,0,1.287081e+09,9848afcc62e500a01cf6fbf24b797732f8963683,1
4,0,1.287016e+09,2ef143e12038c870038df53e0478cefc,1
...,...,...,...,...
4747282,58222,1.232678e+09,9f6b83bca22411dd85460384f67fcdb0,1
4747283,58224,1.230995e+09,9f6b83bca22411dd85460384f67fcdb0,1
4747284,58225,1.232460e+09,9f6b83bca22411dd85460384f67fcdb0,1
4747285,58226,1.232458e+09,9f6b83bca22411dd85460384f67fcdb0,1
4747286,58227,1.232497e+09,9f6b83bca22411dd85460384f67fcdb0,1

In [11]:
df.to_parquet('../../data/brightkite/interactions.parquet', index=False)