In [25]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(
    '../../data/Foursquare/dataset_TSMC2014_NYC.txt',
    header=None,
    sep='\t',
    encoding='latin-1',
    names=[
        'userId',
        'venueId',
        'venueCategoryId',
        'venueCategoryName',
        'latitude',
        'longtitude',
        'offset',
        'timestampUTC'
    ]
)

In [4]:
df.head(3)

,userId,venueId,venueCategoryId,venueCategoryName,latitude,longtitude,offset,timestampUTC
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012

In [30]:
df['timestamp'] = \
    pd.to_datetime(df['timestampUTC']) + \
    pd.to_timedelta(df['offset'], 'm')

In [34]:
df.drop(columns=['offset', 'timestampUTC'], inplace=True)

In [39]:
df['timestamp'] = df['timestamp'].apply(lambda x: x.timestamp())

In [46]:
df.drop(
    columns=['venueId', 'venueCategoryName', 'longtitude', 'latitude'],
    inplace=True
)

In [ ]:
df['relevant'] = 1

In [48]:
df.to_parquet(
    '../../data/Foursquare/interactions.parquet',
    index=False
)