In [1]:
import numpy as np
import pandas as pd

In [2]:
ds_train = pd.read_parquet('../../data/otto/train.parquet')
ds_test = pd.read_parquet('../../data/otto/test.parquet')

In [3]:
ds_train = pd.concat((ds_train, ds_test), axis=0)
del ds_test

In [4]:
len(ds_train['session'].unique())

14571582

In [5]:
M = int(0.1 * len(ds_train['session'].unique())) # percentage of session len

In [6]:
sub_session = np.random.choice(ds_train['session'].unique(), M, replace=False)

In [7]:
sub_session

array([10213520,  6127762,  8189439, ..., 12364747,  8581628,  5531863],
      dtype=int32)

In [8]:
sub_ds = ds_train[ds_train.session.isin(sub_session)]
sub_ds.reset_index()

            index   session      aid          ts  type
0             828         8  1814223  1659304800     0
1             829         8   324620  1659304815     0
2             830         8  1320098  1659304827     0
3             831         8   324620  1659304839     0
4             943        13  1674493  1659304800     0
...           ...       ...      ...         ...   ...
22322580  6928068  14571533   893173  1662328754     0
22322581  6928075  14571537   629253  1662328713     0
22322582  6928082  14571543   460611  1662328722     0
22322583  6928100  14571559  1503039  1662328752     0
22322584  6928120  14571579   739876  1662328775     0

[22322585 rows x 5 columns]

In [9]:
sorted_ds_train = ds_train.sort_values(['session','ts'],ascending=True)#.groupby('job').head(3)

In [10]:
sorted_ds_train.to_parquet('../../data/otto/nip_interactions.parquet')